/*Header*/
.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/*Main*/
.container {
  padding: 10px;
  margin: 20px auto;
  max-width: 600px;
  border-radius: 10px;
}
ul {
  padding: 0;
  text-align: left;
}
li {
  list-style: none;
  font-size: 20px;
}

/*Location*/
form {
  text-align: left;
  padding: 0;
  max-width: 450px;
}
.btn-dark {
  border-radius: 4px;
  background: #282c34;
}
.btn-light {
  border-radius: 4px;
}
.fas {
  font-size: 20px;
  color: #37474f;
}
.last-updated {
  color: #61dafb;
  font-size: 14px;
  font-weight: 200;
}

/*Footer*/
footer {
  color: #282c34;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}